<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sinc.project.user.model.vo.UserVO" alias="user"></typeAlias>
		<typeAlias type="com.sinc.project.board.model.vo.BoardVO" alias="board"></typeAlias>
	</typeAliases>
	

	
</configuration>

